body {
    background-image: url("background.png");
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 8pt;
    margin: 0;
    padding: 0;
}

#Banner {
    background-image: url("bannerbackground.png");
    text-align: center;
}

#MovieNameYear {
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
    font-family: Tahoma, Verdana, sans-serif;
    text-shadow: 3px 3px #999999;
}

#ContentBox {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    border: 4px solid grey;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

#Overview {
    width: 250px;
    float: right;
    background-color: #A2B964;
}

#TextMain {
    font-family: Arial, sans-serif;
    padding: 10px;
    padding-top: 0px;
    font-size: 8pt;
}

#CommentsSection {
    width: 550px;
    position: relative;
    float: left;
}

.BoldList {
    font-weight: bold;
    padding-top: 5px;
}

#Rotten33 {
    background-image: url("rottenbackground.png"); /* Corrected image reference */
    font-size: 48pt;
    color: red;
    font-weight: bold;
    height: 83px;
    vertical-align: bottom;
}

#Rotten33 img {
    float: left;
    margin-right: 5px;
}

.ReviewColumn {
    width: 47%;
    float: left;
    margin-left: 2%;
}

.Review {
    font-size: 8pt;
    background-color: #E8DC9B;
    font-weight: bold;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 8px;
    overflow: hidden;
    position: relative;
}

.ReviewerInfo {
    padding-top: 5px;
    padding-bottom: 20px;
}

.ReviewerInfo span {
    font-style: italic;
}

#ReviewCounts {
    background-color: #A2B964;
    padding: 5px;
    position: absolute;
    bottom: -87px;
    width: 550px;
    text-align: center;
}

p img {
    padding-right: 5px;
    float: left;
}

#ValidatorHTMLCSS {
    position: fixed;
    right: 0;
    bottom: 0;
}

.Validator {
    opacity: 0.5;
}

li {
    list-style-type: none;
}
